[submodule "SimpleOT"]
	path = deps/SimpleOT
	url = https://github.com/mkskeller/SimpleOT
[submodule "Programs/Circuits"]
	path = Programs/Circuits
	url = https://github.com/mkskeller/bristol-fashion
[submodule "simde"]
	path = deps/simde
	url = https://github.com/simd-everywhere/simde
[submodule "deps/libOTe"]
	path = deps/libOTe
	url = https://github.com/mkskeller/softspoken-implementation
[submodule "deps/SimplestOT_C"]
	path = deps/SimplestOT_C
	url = https://github.com/mkskeller/SimplestOT_C
[submodule "deps/ntl"]
	path = deps/ntl
	url = https://github.com/libntl/ntl.git
[submodule "deps/emp-tool"]
	path = deps/emp-tool
	url = https://github.com/emp-toolkit/emp-tool.git
[submodule "deps/emp-ot"]
	path = deps/emp-ot
	url = https://github.com/zicofish/emp-ot.git
[submodule "benchmarks/imagenet-sample-images"]
	path = benchmarks/imagenet-sample-images
	url = https://github.com/EliSchwartz/imagenet-sample-images.git
[submodule "benchmarks/EzPC"]
	path = benchmarks/EzPC
	url = https://github.com/zicofish/MP-SPDZ-EzPC
